In [1]:
#user input always comes in string format.
user_input = input("Enter anything = ")
print(type(user_input))
print(f"{user_input} is in string format as you can see")

Enter anything = Chander Parkash
<class 'str'>
Chander Parkash is in string format as you can see

In [2]:
#user input always comes in string format whether you enter numeric value.
user_input_string = input("Enter any number = ") # here number also come in string format
print(type(user_input_string))
print(f"{user_input_string} is in string format because by default input keyward takes string format")

Enter any number = 24
<class 'str'>
24 is in string format because by default input keyward takes string format

In [3]:
#user input always comes in string format but you can change the type of format by using type conversion
user_input_number = int(input("Enter any number = ")) #here number comes in integer format
print(type(user_input_number))
print(f"now {user_input_number} is convert into number format because of type conversion using by int function")

Enter any number = 24
<class 'int'>
now 24 is convert into number format because of type conversion using by int function

# 1. Convert an integer to a floating-point number.

In [4]:
integer_value = int(input("Enter any numberic value = ")) #number outcome is in integer format
print(type(integer_value))

Enter any numberic value = 24
<class 'int'>

In [5]:
#convert an integer to a floating point number.
if isinstance(integer_value,int): #integer_value = 24 with integer form.
    #isinstance function takes two arguments (object and class) and output comes in True or False
    #here condition is True i.e. integer_value is in integer format
    convert_into_float = float(integer_value) #here integer convert into float
    print(f'now integer "{integer_value}" convert into float "{convert_into_float}" value')
else:
    print("This is not a integer value")

now integer "24" convert into float "24.0" value

# 2. Convert a float to an integer

In [6]:
float_value = float(input("enter any numeric value = "))
print(type(float_value))

enter any numeric value = 24
<class 'float'>

In [7]:
#convert float value to integer by using isinstance function with if function
if isinstance(float_value,float): #isinstance function takes two arguments (object and class) and output comes True or False
    float_to_integer = int(float_value)
    print(f'your float value "{float_value}" convert into integer "{float_to_integer}"')
else:
    print(f'"{float_value}" is not a float value')

your float value "24.0" convert into integer "24"

# 3. Convert an integer to a string

In [8]:
for_int_to_string = integer_value #here interger_value is 24 that is already mentioned above
print(f'"{for_int_to_string}" is a integer value')
print(type(for_int_to_string))

"24" is a integer value
<class 'int'>

In [9]:
#convert integer to string with function "str"
convert_int_to_string = str(for_int_to_string) #here interger_value is 24 that is already mentioned above
print(convert_int_to_string)
print(f'now "{convert_int_to_string}" is converted into "string" format')
print(type(convert_int_to_string))

24
now "24" is converted into "string" format
<class 'str'>

# 4. Convert a list to a tuple

In [10]:
#create a list
my_list = [1, 5, 7, 9, "Chander", 4, 54.5, "Parkash", 78] #that is list
print(type(my_list))

<class 'list'>

In [11]:
#convert list to tuple
list_to_tuple = tuple(my_list) #list is convert into tuple by using tuple function
print(type(list_to_tuple))

<class 'tuple'>

In [12]:
print(list_to_tuple)

(1, 5, 7, 9, 'Chander', 4, 54.5, 'Parkash', 78)

# 5. Convert a tuple to a list

In [13]:
tuple_to_list = list(list_to_tuple) #convert a list from tuple
print(tuple_to_list)
print(type(tuple_to_list))

[1, 5, 7, 9, 'Chander', 4, 54.5, 'Parkash', 78]
<class 'list'>

# 6. Convert a decimal number to binary

In [14]:
#decimal number
dec_numb = 72487
convert_into_binary = bin(dec_numb)
print(dec_numb)
print(convert_into_binary)
print(type(convert_into_binary))

72487
0b10001101100100111
<class 'str'>

# 7. Convert a non-zero number to Boolean

In [15]:
#integer_value already define above
print(integer_value) #integer_value is already defined above i.e. 24

24

In [16]:
for_boolean = bool(integer_value) #integer value convert into boolean
print(for_boolean) #output comes as True

True